* {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

/*-----------MOBILE-----------*/

/*----WELCOME----*/
.logo{
  display: flex;
  width: 50%;
  margin-top: 8%;
}

.welcome, .register, .login, .muro{
  background-image: url("img/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.phonePosition{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.description{
  color: #FAFAFA;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-shadow: 0px 4px 2px #181818;
  width: 71%;
  margin-top: 2%;
}

h5{
  color: #FAFAFA;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  line-height: 33px;
  text-align: center;
  text-shadow: 0px 4px 2px #181818;
  font-weight: lighter;
  margin-top: 6%;
}

.registerBtn{
  display: flex;
  margin-top: 2%;
}

/*----Register----*/
h2{
  color: #FAFAFA;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  margin-top: 15%;
}

.arrow{
  display: flex;
  align-items: end;
  position: absolute;
  margin-left: -76%;
  margin-top: 14%;
}

.separator{
  margin-top: 2%;
}

.google{
  margin-top: 4%;
}

.input-group{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-name{
  height: 35px;
  width: 128px;
}

input{
  background: #FAFAFA;
  border-radius: 8px;
  height: 35px;
  width: 270px;
  margin-top: 15px;
  padding-left: 10px;
}

#registerButton{
  margin-top: 5%;
}

h6{
  color: #F7E4A7;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin-top: 2%;
}

.menu-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  margin-left: 38%;
  margin-right: 39%;
}

.addimg > input {
  display: none;
}

img {
  cursor: pointer;
}

/*----Login----*/

.loginTittle{
  margin-top: 5%;
}

a.password:link {
  text-decoration: none;
}
a.password:visited {
  text-decoration: none;
  color: #F7E4A7;
} 
a.password:active {
  text-decoration: none;
} 
a.password:hover {
  text-decoration: none; 
  color:#F7E4A7;
}
